/* CFooter.css */
.footer {
  background-image: url('../../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.footer-copyright {
  font-weight: bold;
  font-size: small;
}

.footer-social a {
  font-size: 24px;
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer a {
  text-decoration: none;
  color: #f5adad;
  margin-right: 20px;
  transition: color 0.3s;
  font-size: small;
}

.footer a:hover {
  color: #007BFF;
  text-decoration: none;
}

.footer-social a:hover {
  color: #007BFF;
}
