#back2Top {
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    position: fixed;
    bottom: 45px;
    right: 10px;
    background-color: #f37032;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    padding: 5px 12px;
    border-radius: 25px;
    font-weight: 300;
}
#back2Top, .addthis_button_compact .at-icon-wrapper, .bottom_heritage_tab {
    display: none;
}
#back2Top, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #d71d24;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}